<!DOCTYPE html> <html lang="fr">
<head>
    <title>Personne: Fiche</title>
</head>    
    
<body>
    <p><a href="/personne">Retour vers la liste</a></p>
    <h1>Personne:Show</h1>
  
    <h2>Fiche Personne #<%=personne.id%>  <%=personne.name %> <%=personne.surname %>%></h2>
    
    <p><span style="font-weight:bold">Prenom:</span><span style="color:blue"> <%=personne.name %></span></p>
    <p><span style="font-weight:bold">Nom: <span style="color:red;font-weight: bold;"> <%=personne.surname %></span></p>
    <p><span style="font-weight:bold">Age:<span style="color:orange"><%=personne.age %></span> ans</p>
    <p><span style="font-weight:bold">DateCrea:<span style="color:orange"><%=personne.dt_creat %></span></p>
   
    <p><span><a href="/personne/edit/<%=personne.id %>">Edit</a>
            - <a href="/personne/delete/<%=personne.id %>">Delete</a>
        </span>
    </p>
</body>
</html>