<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Présentation</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/main.css'>
    <script src='js/main.js'></script>
</head>
<body>
    <h1>Présentation de [<%= personne.id %>] <%= personne.name %> <%= personne.surname %></h1>
    <p><span style="color:blue"> <%= personne.name %></span></p>
    <p><span style="color:red;font-weight: bold;"> <%=personne.surname %></span></p>
    <p><span style="color:orange"><%= personne.age %></span> ans</p>
</body>
</html>